
//== Container main content style, used on page template

main.container {
    padding: .5em 1em;
}
.right-space{
  padding-right: 8px;
}
.left-space{
  padding-left: 8px;
}
.both-space{
  padding-right: 4px;
  padding-left: 4px;
}
