
//== XF Header style, used on page template

header.experiencefragment {
  line-height: 1;
  text-align: center;
    @media (prefers-color-scheme: dark) {
        border-bottom-color: $color-foreground-dark;
    }
    a {
        color: $color-foreground;
        text-decoration: none;
        @media (prefers-color-scheme: dark) {
            color: $color-foreground-dark;
        }
        &:hover,
        &:focus {
            color: $color-link;
            text-decoration: underline;
            @media (prefers-color-scheme: dark) {
                color: $color-link-dark;
            }
        }
    }

    //== Grid layout

    .cmp-container {
        display: grid;
      //  grid-template-columns:  221px auto 152px 41px 54px;
        grid-template-columns: 6fr 18fr 150px 0.9fr 1.2fr;
        padding: 20px 0 0 0;
        z-index: 1;
        height: 45px;
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        .image{
          margin-left: 14px;
        }
    }

    //== logo
    .cmp-image{
      margin: 4px 0px;
    }
    .cmp-image__image{
      height: 35px;
    }

    //== Navigation
    .cmp-navigation{
      margin: 15px 0;
    }
    .cmp-navigation__item--level-0 {
        display: inline-block;
        text-transform: uppercase;
        margin-right: 2em;
        & > .cmp-navigation__group {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
        }
    }
    .cmp-navigation__item-link {
        display: block;
    }
    .cmp-navigation__item--active > .cmp-navigation__item-link {
        font-weight: bold;
    }

    //== button

    .cmp-button {
      border: 1px solid #FFFFFF;
      background: transparent;
      font-size: 15px;
      display: grid;
      grid-template-columns: 24px 75px;
      padding: 14px 24px;
      margin-right: 12px;
    }
    .cmp-button__text {
      font-size: 12px;
      line-height: 15px;
      letter-spacing: 2.4px;
    }

    //== Search

    .cmp-search__field {
        display: flex;
        margin: -3px 0;
    }
    .cmp-search__input {
        height: 26px;
    }

}
