
//== XF Footer style, used on page template

footer.experiencefragment {
  @media (prefers-color-scheme: dark) {
    border-color: $color-foreground-dark;
  }
  .cmp-container{
    background: #171717;
    padding-top: 80px;
    .navigation{
      margin-bottom: 54px;
    }
  }
  .cmp-separator__horizontal-rule {
    margin: 0 -8rem;
    border-top: 1px solid #FFFFFF;
    opacity: 0.17;
    border-bottom-color: transparent;
  }
  .cmp-navigation__group {
  margin: 0;
  padding: 0;
  list-style: none;
  }
  .cmp-navigation__item--level-0{
    a {
      margin-bottom: 25px;
      display: block;
    }
    .cmp-navigation__item--level-1{
      a {
        margin-bottom: 0;
      }
    }
  }
  .cmp-navigation__item--level-1{
    font-size: 14px;
    line-height: 36px;
    letter-spacing: 0;
  }
  a {
    @media (prefers-color-scheme: dark) {
      color: $color-link-dark;
      }
    }
    .text{
      .cmp-text{
        margin: 24px 0;
        p{
          color: #FFFFFF80;
          font-size: 14px;
          line-height: 19px;
          margin: 0;
        }
      }
    }
}
