
//== XF Footer style, used on page template

footer.experiencefragment {
  @media (prefers-color-scheme: dark) {
    border-color: $color-foreground-dark;
  }
  .cmp-experiencefragment--footer{
    > .cmp-container{
      background: #171717;
      padding-top: 80px;
      .navigation{
        margin-bottom: 54px;
      }
    }
  }
  .cmp-separator__horizontal-rule {
    border-top: 1px solid #FFFFFF;
    opacity: 0.17;
    border-bottom-color: transparent;
  }
  .cmp-navigation__group {
  margin: 0;
  padding: 0;
  list-style: none;
  }
  .cmp-navigation__item--level-0{
    a {
      margin-bottom: 25px;
      display: block;
      font-weight: bold;
    }
    .cmp-navigation__item--level-1{
      a {
        margin-bottom: 0;
        font-weight: normal;
      }
    }
  }
  .cmp-navigation__item--level-1{
    font-size: 14px;
    line-height: 36px;
    letter-spacing: 0;
  }
  a {
    @media (prefers-color-scheme: dark) {
      color: $color-link-dark;
      }
    }
  .text{
    .cmp-text{
      margin: 24px 0;
      p{
        color: #FFFFFF80;
        font-size: 14px;
        line-height: 19px;
        margin: 0;
      }
    }
  }
  .image{
    &.aem-GridColumn.aem-GridColumn--default--1{
      float: right;
    }
    text-align: right;
    .cmp-image__image{
        width: 16px;
    }
  }
  .container{
    &.aem-GridColumn.aem-GridColumn--default--2{
      .image{
        width: 44px;
        float: left;
        text-align: left;
      }
    }
    .cmp-image__image{
      width: 14px;
      height: 14px;
    }
  }
}
