.cmp-form-text {
  label{
    display: block;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 2.8px;
    margin-bottom: 32px;
    text-transform: uppercase;
  }
}
.cmp-form-text__help-block {}
.cmp-form-text__textarea, .cmp-form-text__text {
  border: 1px solid #E6E6E6;
  background-color: transparent;
  color: #FFFFFF;
}
.cmp-form-text__text {
  border-radius: 6px;
  margin-bottom: 24px;
  width: 65%;
}

.cmp-form-text-errormessage{
  border-color: #FB2657;
  background-image: url(http://localhost:4502/content/experience-fragments/wkndmuzik/us/en/site/footer/master/_jcr_content/root/container/image.coreimg.svg/1602648758682/instagram.svg);
  background-repeat: no-repeat;
  background-position-x: 255px;
  background-position-y: 6px;
}
.cmp-form-text-errormessage:focus{
  border-color: #FB2657;
}
