.cmp-form-text {
  label{
    display: block;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 2.8px;
    margin-bottom: 32px;
    text-transform: uppercase;
  }
}
.cmp-form-text__help-block {}
.cmp-form-text__textarea, .cmp-form-text__text {
  border: 1px solid #E6E6E6;
  background-color: transparent;
  color: #FFFFFF;
}

input:focus{
  outline: none !important;
  border: 1px solid #4965EE;
}

.cmp-form-text__text {
  border-radius: 4px;
  margin-bottom: 24px;
  width: 65%;
  height: 45px;
  padding-left: 16px;
}

.error-message{
  border-color: #FB2657;
  background-image: url('../resources/images/Icon-Warning.svg');
  background-repeat: no-repeat;
  background-position-x: 255px;
  background-position-y: 15px;
}
.error-message{
  border-color: #FB2657;
}

.constraint-message{
  margin-top: -24px;
  margin-bottom: 24px;
  font-size: 12px;
  line-height: 15px;
  color: #FB2657;
  padding-top: 5px;
  padding-left: 15px;
}
