.cmp-form-options {
  border: 0px;
  font-size: 16px;
  letter-spacing: 0px;
  line-height: 26px;
  margin-bottom: 20px;
  padding: 0px;
  &--drop-down{
    select{
      border: 1px solid #E6E6E6;
      background-color: transparent;
      border-radius: 6px;
      color: #FFFFFF;
      padding-left: 16px;
      height: 45px;
    }
    option{
      background-color: $color-background;
      color: $color-foreground;
    }
  }
}
.cmp-form-options__legend , .cmp-form-options__label {
  font-size: 14px;
  font-weight: bold;
  line-height: 18px;
  letter-spacing: 2.8px;
  margin-bottom: 32px;
  text-transform: uppercase;
  display: block;
}
.cmp-form-options__field-label {
  display: block;
}
.cmp-form-options__field {
  &--drop-down{
    width: 65%;
    select{
      border: 1px solid #E6E6E6;
      background-color: transparent;
      color: #FFFFFF;
    }
  }
}
.cmp-form-options__field--checkbox {}
.cmp-form-options__field--radio {}
.cmp-form-options__field-description {}
.cmp-form-options__label {}
.cmp-form-options__drop-down-field {}
.cmp-form-options__multi-drop-down-field {}
.cmp-form-options__help-message {}
