.cmp-tabs {}
.cmp-tabs__tablist {}
.cmp-tabs__tab {
  font-size: 14px;
  line-height: 18px;
  font-weight: bold;
  letter-spacing: 2.8px;
  margin-right: 64px;
  &:focus{
    outline: 0px;
  }
}
.cmp-tabs__tab--active {
  border: 1px solid #3C55F0;
  border-radius: 8px;
  background: #3C55F0;
}
.cmp-tabs__tabpanel {}
.cmp-tabs__tabpanel--active {}
