.cmp-tabs {
  font-size: 14px;
  line-height: 18px;
  font-weight: bold;
  letter-spacing: 2.8px;
}
.cmp-tabs__tablist {
  margin-bottom: 51px;
}
.cmp-tabs__tab {
  margin-right: 64px;
  padding: 1rem 1rem;
  &:focus{
    outline: 0px;
  }
}
.cmp-tabs__tab--active {
  border: 0px;
  border-radius: 8px;
  background: #3C55F0;
}
.cmp-tabs__tabpanel {}
.cmp-tabs__tabpanel--active {}
