.teaser{
  &.background-image{
  .background{
    background-size: cover;
    background-position: center;
    height: 400px;
    z-index: 0;
  }
  .cmp-teaser-data{
    height: 400px;
    overflow: hidden;
    position: relative;
    top: -400px;
    backdrop-filter: blur(42px);
    z-index: 10;
    margin-bottom: -400px;
    .cmp-teaser__content {
      padding: 15px;
    }
  }
}

 &.textimage {
   height: 450px;
   .background{
     background-size: cover;
     background-position: center;
     height: 450px;
     width: 50%;
     position: relative;
     left:50%;
   }
   .cmp-teaser-data{
    height: 450px;
    position: relative;
    top:-450px;
   }
   .cmp-teaser__image{
     height: 100%;
     width: 50%;
     float: left;
     display: none;
     position: relative;
     overflow: hidden;
     .cmp-image__image{
       height: 440px;
     }
   }
   .cmp-teaser__content {
     background-color: #3C55F0;
     width: 42%;
     float:left;
     height: 380px;
     padding: 35px 4.5% 35px 3.5%;
     .cmp-teaser__pretitle{
       padding-top: 56px;
       padding-bottom: 27px;
     }
     .cmp-teaser__title{
       font-size: 41px;
       line-height: 55px;
       letter-spacing: 0;
       text-transform: uppercase;
     }
   }
 }
}

.teaser{
  &.tile{
    &.flag{
      .background{
        background-color: #3C55f0;
        background-image: url('../resources/images/Shape.svg');
        background-size: auto;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 100px;
        height: 24px;
        width: 31px;
        margin: 0 auto -24px auto;
      }
    }
    border: 1px solid #3C55F0;
    border-radius: 8px;
    padding: 29px;
    text-align: center;
    &.aem-GridColumn--default--none{
      &.aem-GridColumn{
        &.aem-GridColumn--offset--default--0{
          &.aem-GridColumn--default--4{
            width: 32%;
            margin-right: 1%;
          }
        }
      }
    }
    .cmp-teaser__content {
      margin-top: 43px;
      .cmp-teaser__pretitle{
        font-size: 14px;
        line-height: 18px;
        font-weight: bold;
        letter-spacing: 2.8px;
        margin-bottom: 9px;
      }
      .cmp-teaser__title{
        font-size: 25px;
        line-height: 32px;
        font-weight: 600;
        letter-spacing: 0;
        margin-bottom: 31px;
      }
      .cmp-teaser__action-link{
        font-size: 14px;
        line-height: 18px;
        letter-spacing: 2.8px;
        font-weight: bold;
        text-transform: uppercase;
        border-radius: 8px;
        border: 1px solid #3C55F0;
        color: #3C55F0;
        padding: 13px 38px;
        display: inline-block;
        margin-top: 45px;
      }
    }
  }
}
.cmp-teaser {}
.cmp-teaser__image {}
.cmp-teaser__content {}
.cmp-teaser__pretitle {}
.cmp-teaser__title {
  font-size: 21px;
  letter-spacing: 0;
  line-height: 27px;
  margin: 0;
}
.cmp-teaser__title-link {}
.cmp-teaser__description {}
.cmp-teaser__action-container {}
.cmp-teaser__action-link {}
