.cmp-title {}
.cmp-title__text {
  position: relative;
  &::before{
    content: "";
    position: absolute;
    bottom: -23px;
    left: 0;
    width: 128px;
    height: 6px;
    background: #3C55F0;
  }
}
.cmp-title__link {}
