//== Base

html,
body {
    font-size:   $font-size;
    font-family: $font-family;
    line-height: $font-height;
    color:       $color-foreground;
    background:  $color-background;
    margin:      $body-margin;


    @media (prefers-color-scheme: dark) {
        color:       $color-foreground-dark;
        background:  $color-background-dark;
    }
}


a {
    color: $color-link;
    text-decoration: none;

    @media (prefers-color-scheme: dark) {
        color: $color-link-dark;
    }
}

button,
input,
optgroup,
select,
textarea {
    font: inherit;
}

h1{
  font-size: 60px;
  line-height: 74px;
  font-weight: bold;
  text-transform: uppercase;
}

h2{
   font-size: 41px;
   line-height: 60px;
   font-weight: bold;
   text-transform: uppercase;
}

h3{
   font-size: 25px;
   line-height:normal;
   font-weight: 600;
}

p{
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0px;
  font-weight: normal;
}
