
//== Font

$font-family:           Montserrat;
$font-size:             15px;
$font-height:           1.625;

//== Color

// Normal mode
$color-foreground:      #FFFFFF;
$color-background:      #0E0F13;
$color-link:            #FFFFFF;


// Dark mode
$color-foreground-dark: invert($color-foreground);
$color-background-dark: invert($color-background);
$color-link-dark:       invert($color-link);

//layout width
$layout-width:          1280px;
$body-margin:           0px;
$hero-image-height:     620px;
